<form (submit)="onSubmit(issedit)">
  <label for="name">Name</label>
  <input type="text" [(ngModel)]="user.name" name="name">
  <br>
  <label for="email">email</label>
  <input type="text" [(ngModel)]="user.email" name="email">
  <br>
  <label for="phone">Phone</label>
  <input type="text" [(ngModel)]="user.phone" name="phone">
  <br>
  <input type="submit" name="submit" value="submit">
</form>



<div *ngFor="let u of users">
  <ul>
    <li>{{u.name}}</li>
    <li>{{u.email}}</li>
    <li>{{u.phone}}</li>
    <!-- <ul *ngFor="let ua of u">
      <li>{{ua.street}}</li>
    </ul> -->
    <!-- <ul>
      <li>{{u.address.street}}</li>
      <li>{{u.address.suite}}</li>
      <li>{{u.address.city}}</li>
      <li>{{u.address.zip}}</li>
      <ul>
        <li>{{u.address.geo.lat}}</li>
        <li>{{u.address.geo.lng}}</li>
      </ul>
    </ul>
    <li>{{u.website}}</li> -->
    <button (click)="onDeleteClick(u.id)">Delete me</button>
    <button (click)="onUpdateClick(u)">Update me</button>
  </ul>
  <br>

</div>
